@{
	ViewBag.Title = "Покупка металла по всей Украине";
}

<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container main-menu">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">
				<i class="fa fa-cogs"></i> ukrmetal.<i class="fa fa-info"></i>n.ua				
			</a>
			
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="active"><a href="/#prices">Все Цены</a></li>
				<li><a href="/#r">Доставка и Оплата</a></li>
				<li><a href="/#call">Заказать звонок</a></li>
				<li><a href="/#contact">Контакты</a></li>
				<li><a href="/#about">О нас</a></li>
			</ul>
		</div>
	</div>
</div>
<div id="headerwrap">
	<div class="container">
		<div class="row centered">
			<div class="col-lg-8 col-lg-offset-2">
				<h1>
					Покупка металла
					<br> <span style="text-transform: lowercase">в</span><br>
					<span style="text-transform: initial">Киеве</span>
					<span style="text-transform: lowercase">и</span> <span style="text-transform: initial">Украине</span>
				</h1>
			</div>
		</div>
	</div>
</div>

<div class="container w" id="prices">
	<div class="row centered">
		<div class="col-lg-12">
			<h1 class="title">Цены на покупку популярных металлов</h1>
		</div>

	</div>
	<div class="row centered">
		<br><br>
		<div class="col-lg-4">
			<i class="fa fa-heart"></i>
			<h4 class="upc">Вольфрам</h4>
			<p>Наиболее популярнй вид металла, который скупается в Украине. Данный металл покупаем в виде порошка и лома. Проводим экспертизу качества металла. Данный металл покупаем в виде порошка и лома. Проводим экспертизу качества металла.</p>
		</div>
		<div class="col-lg-4">
			<i class="fa fa-thumbs-up"></i>
			<h4 class="upc">Победит</h4>
			<p>Покупка серебра в Киеве и Украине. Данный металл покупаем в виде порошка и лома. Проводим экспертизу качества металла. Данный металл покупаем в виде порошка и лома. Проводим экспертизу качества металла.</p>
		</div>
		<div class="col-lg-4">
			<i class="fa fa-bolt"></i>
			<h4 class="upc">Молибден</h4>
			<p>Покупка бронзы в Киеве и Украине. Данный металл покупаем в виде порошка и лома. Проводим экспертизу качества металла. Данный металл покупаем в виде порошка и лома. Проводим экспертизу качества металла.</p>
		</div>
	</div>
	<br>
	<br>
</div>

<div id="dg">
	<div class="container">
		<div class="row">
			<h2 class="title">Какой металл мы можем купить?</h2>
			<br>
			<div class="col-lg-12">
				<table class="table table-bordered table-striped price-table">
					<tr>
						<th>Навание металла</th>
						<th>Цена/кг</th>
					</tr>
				
					<tr>
						<td>Бабит б-16 чушка</td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Бабит б-83 чушка</td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Бор аморфный </td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Бор кристалический</td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Борид титана</td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Бориды разные</td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Валки твердосплавные  ВНК-20</td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Висмут ви00 ви0  ви1 (чушка пруток гранула)</td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Вольфвам  ВА(лом, лист, пруток,электрод, проволока)</td>
						<td>330-700</td>
					</tr>
				
					<tr>
						<td>Вольфрам борид (WB2)</td>
						<td>200-700</td>
					</tr>
				
					<tr>
						<td>Вольфрам карбид (WC) порошок, лом, изделия</td>
						<td>300-700</td>
					</tr>
				
					<tr>
						<td>Вольфрам концентрат ,шлам.</td>
						<td>200-700</td>
					</tr>
				
					<tr>
						<td>Вольфрам Оксид, паровольфрамат (WO2)</td>
						<td>200-600</td>
					</tr>
				
					<tr>
						<td>Вольфрам Порошок (W)</td>
						<td>300-700</td>
					</tr>
				
					<tr>
						<td>Вольфрам силицид (WSi2)</td>
						<td>200-700</td>
					</tr>
				
					<tr>
						<td>Вольфрам ШВВ (штабик)</td>
						<td>500-700</td>
					</tr>
				
					<tr>
						<td>Вольфрвм ВА ВЛ СВИ  (лом порошок пруток электрод)</td>
						<td>400-700</td>
					</tr>
				
					<tr>
						<td>Гафний карбид гафний борид гафний силицид гафний оксид</td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Графит лом </td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Графит МГ ЭГО  изделия заготовки лом</td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Графит МПГ</td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Дисульфид молибдена (MoS2) ДМИ-1</td>
						<td>300-500</td>
					</tr>
				
					<tr>
						<td>Дисульфид молибдена (MoS2) ДМИ-7 </td>
						<td>300-500</td>
					</tr>
				
					<tr>
						<td>Инструмент твердосплавный  вк тк, пластина фильера высадка</td>
						<td>400</td>
					</tr>
				
					<tr>
						<td>Карбид бора</td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Карбид бора шлифовальный порошок</td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Кобальт К1, К0. (чушка, подушечка гранула анод лист)</td>
						<td>300-1300</td>
					</tr>
				
					<tr>
						<td>Кобальт ПК-1у, ПК  (порошок)</td>
						<td>800-1200</td>
					</tr>
				
					<tr>
						<td>Молибден карбид </td>
						<td>300-700</td>
					</tr>
				
					<tr>
						<td>Молибден лом  (в любом виде)</td>
						<td>300-700</td>
					</tr>
				
					<tr>
						<td>Молибден МЧ (порошок стружка)</td>
						<td>230-600</td>
					</tr>
				
					<tr>
						<td>Молибден МЧ(лом пруток проволока)</td>
						<td>300-700</td>
					</tr>
				
					<tr>
						<td>Молибден оксид (MoO2)</td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Никель Н1 Н2 Н3 ( катод анод гранула лист проволока лента)</td>
						<td>180-700</td>
					</tr>
				
					<tr>
						<td>Никель ПНК !л5, ПНК   (порошок)</td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Никель ПНЭ 1 порошок</td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Ниобий борид</td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Ниобий в любом виде</td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Ниобий ВН2АЭ прокат проволока пруток лист поковка</td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Ниобий карбид </td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Ниобий НБ1, НБ2, прокат проволока пруток лист </td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Ниобий порошок</td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Нитрид бора вюрцито подобный</td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Нитрид бора гексагональный</td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Нихром Х20Н80  проволока лист лента полоса</td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Нихром х20н80 порошок</td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Нихромх15н60  проволока лист пруток лента</td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Олово о1 о1 опч  пруток порошок гранула</td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Пластина твердосплавная вк тк вн внж внк (Ассортимент)        </td>
						<td>400-800</td>
					</tr>
				
					<tr>
						<td>Победит  твердый сплав лом    вк тк вн внж внк внм</td>
						<td>300-500</td>
					</tr>
				
					<tr>
						<td>Победит вк-6,вк-8, т5к10, т15к6, т14к8 порошки, лом,пластина  </td>
						<td>280-800</td>
					</tr>
				
					<tr>
						<td>Припой пос ассортимент пруток чушка проволока </td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Сердечники вольфрамовые вн-8, внж-90, вк  (пруток, стержень) </td>
						<td>300-500</td>
					</tr>
				
					<tr>
						<td>Смеси твердосплавные Вк порошки                                                     от</td>
						<td>300-800</td>
					</tr>
				
					<tr>
						<td>Сталь быстрорежущяя Р6м5 Р18  Лом Прокат порошок</td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Тантал борид </td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Тантал карбид</td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Тантал оксид</td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Тантал прокат пруток проволока лист фольга лента</td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Тантал силицид</td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Твердый сплав ВК ТК (лом, изделия,пластина фильера)            </td>
						<td>250-800</td>
					</tr>
				
					<tr>
						<td>Твердый сплав ВК ТК ВН ВНЖ ВНК ВНМ (в любом виде )</td>
						<td>250-800</td>
					</tr>
				
					<tr>
						<td>Твердый сплав ВК-6, Вк-8, ВК-10, ВК-15, ВК-20, порошок</td>
						<td>300-800</td>
					</tr>
				
					<tr>
						<td>Твердый сплав лом порошок пластина, вк тк вн,внж внк,внм     </td>
						<td>280-800</td>
					</tr>
				
					<tr>
						<td>Титан  ВТ10 прокат ( пруток лист, полоса .проволока)</td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Титан  ВТпрокат ( пруток лист, полоса .проволока)</td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Титан борид </td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Титан йодидный пруток, обрезки</td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Титан карбид </td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Титан нитрид </td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Титан порошок</td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Титан силицид</td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Ферромолибден  60,80</td>
						<td>260-400</td>
					</tr>
				
					<tr>
						<td>Феррохром ассортимент</td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Хром борид </td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Хром карбид</td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Хром нитрид</td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Хром порошок Пх1м</td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Хром порошок ПХ1с</td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Хром пруток 999 </td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Хром Х99  кусок порошок</td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Хром чешуйчатый ЭРХ, РХ</td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Цирконий 999 чушка мишень</td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Цирконий йодидный пруток обрезки</td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Цирконий карбид</td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Цирконий оксид</td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Цирконий порошок ПЦРК1  </td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Цирконий порошок ПЦРК2</td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Цирконий порошок ПЦРК3</td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Цирконий прокар (проволока пруток лист)</td>
						<td>договорная</td>
					</tr>
				
					<tr>
						<td>Цирконий силицид</td>
						<td>договорная</td>
					</tr>

				</table>
			</div>
		</div>
	</div>
</div>

<div id="r">
	<div class="container">
		<div class="row centered">
			<div class="col-lg-8 col-lg-offset-2">
				<h3>ДОСТАВКА И ОПЛАТА</h3>
				<p style="text-align: left">При покупке металла, наша компания произведёт доставку как в пределах города Киева, так и по территории всей Украины. Доставка осуществляется через, службу доставки <b>«Новая Почта»</b>, что удобно для наших клиентов так, как отделения расположены во всех населённых пунктах и городах Украины, соответственно, для того, чтобы переслать проданный металл, достаточно обратиться в ближайшее отделение <b>“Новой почты”</b>. Доставка происходит за максимально короткие сроки, а значит расчёт за продажу Вы также получаете в максимально короткие сроки.</p>
				<p style="text-align: left">Ещё немаловажным моментом при отправке через <b>«Новую почту»</b> есть то, что всегда можно отследить местонахождение груза, соответственно, чтоб он «потерялся в пути» - практически невозможно!</p>
				
				<h5>Оплата осуществляться следующим образом</h5>
				<p style="text-align: left;margin:0"><i class="fa fa-star"></i> наложенным платежом</p>
				<p style="text-align: left;margin:0"><i class="fa fa-star"></i> безналичной платежом</p>
			</div>
		</div>
	</div>



</div>

<div class="lg" id="call">
	<div class="container">
		<div class="row centered">
			<div class="col-lg-8 col-lg-offset-2">
				<h3>Появились вопросы по покупке/продаже металла?</h3>
			</div>
		</div>
		<div class="row centered">
			<div class="col-lg-6 col-lg-offset-3">
				@using (Html.BeginForm("S", "H"))
			{
					@Html.AntiForgeryToken()
					@Html.ValidationSummary(false)

					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon">+38</div>
							<input type="number" name="tel" required="" placeholder="0ХХ ХХХ ХХ ХХ" class="form-control" />
						</div>
					</div>
					<textarea name="message" class="form-control" rows="5" placeholder="Напишите ваш вопрос..."></textarea>
					<br />
					<button type="submit" class="btn btn-lg btn-info pull-right">Отправить</button>
			}

			</div>
		</div>
	</div>
</div>

<div class="container wb" id="contact">
	<div class="row centered">
		<br><br>
		<div class="col-lg-12">
			<h2>Как можно с нами связаться чтобы продать металл?</h2>
		</div>
		<br>
	</div>
	<div class="row">
		<div class="col-lg-4">
			<table class="table">
				<tr>
				<td colspan="2">ТОВ НВП "РОЗРОБКА І ВПРОВАДЖЕННЯ НОВИХ МАТЕРІАЛІВ"</td>
				
				</tr>
				<tr>
					<td>Телефон:</td>
					<td><b>XXX-XXX-XX-XX</b></td>
				</tr>

				<tr>
					<td>E-mail:</td>
					<td><b>info@ukrmetal.in.ua</b></td>
				</tr>
				<tr>
					<td>Факс:</td>
					<td><b>044-496-07-22</b></td>
				</tr>
				<tr>
					<td>Адрес:</td>
					<td><b>город Киев, улица Василия Степанченко, дом 3, офис 504</b></td>
				</tr>
			</table>

		</div>
		<div class="col-lg-8">
			<div id="mapwrap">
				<iframe height="300" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1509.9419526861743!2d30.369431951534647!3d50.47071888749593!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cce9bf738d3d%3A0x8b09eb687b93d076!2z0LLRg9C70LjRhtGPINCS0LDRgdC40LvRjyDQodGC0LXQv9Cw0L3Rh9C10L3QutCwLCAzLCDQmtC40ZfQsg!5e0!3m2!1sru!2sua!4v1499954765650"></iframe>
			</div>
			<br><br><br><br>
		</div>

	</div>
</div>

<div class="lg" id="about">
	<div class="container">
		<div class="row centered">
			<div class="col-lg-8 col-lg-offset-2">
				<h3>О нас</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<p style="text-align: left">Деятельность нашей компании — это покупка металла. </p>
				<p style="text-align: left">Покупкой металла и работой с клиентами мы занимаемся длительное время. За годы работы успели заслужить репутацию надёжной компании и накопили уже достаточное количество опыта, наладили процесс работы так, что можем гарантировать продажу металла в Киеве и по Украине, в кротчайшие сроки, получив своевременную оплату и качественный сервис!</p>
				<h5>Почему Вам будет интересно продать металл именно нам?</h5>
				<p style="text-align: left">- Во-первых, ценовая политика нашей компании максимально выгодна для продажи металла в Киеве, а также других областей Украины. Мы всегда мониторим цены на рынке Украины и предлагаем Вам наиболее выгодные. Нам вы можете продать металл по самым выгодным для Вас ценам!</p>
				<p style="text-align: left">- Во-вторых, продажа металла нам — это получение быстрого, качественного сервиса, а соответственно экономия Вашего времени, которого в современном мире очень не хватает!</p>
				<p style="text-align: left">- В-третьих, наши сотрудники все имеют большой опыт в сфере работы с металлом. Эти профессиональные качества помогают быстро решать нестандартные ситуации и применять к каждому клиенту индивидуальный подход!</p>
				<p style="text-align: left">- В-четвёртых, наша основная задача — предоставить клиентам максимальные выгоды в сотрудничестве с нами. Как лояльность к нашим потенциальным клиентам, мы готовы рассматривать любые предложения и разрабатывать для них в будущем различные бонусы, например — пересмотр цен. Мы не стоим на месте – мы постоянно совершенствуемся!</p>
				<p style="text-align: left">- В-пятых, для нас важно купить металл именно у Вас!</p>
				<p style="text-align: left">Мы надеемся на взаимовыгодное сотрудничество, и уверенны, что партнёрство с нами принесёт Вам только положительные результаты и впечатления!</p>
			</div>
		</div>

	</div>
</div>

<div id="f">
	<div class="container">
		<div class="row centered">

			<div class="navbar navbar-inverse">
				<div class="container main-menu">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-f">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="/">
							<i class="fa fa-cogs" style="padding:0"></i> ukrmetal.in.ua
						</a>
					</div>
					<div class="navbar-collapse collapse navbar-collapse-f">
						<ul class="nav navbar-nav navbar-right">
							<li class="active"><a href="index.html">Все Цены</a></li>
							<li><a href="services.html">Доставка и Оплата</a></li>
							<li><a href="services.html">Заказать звонок</a></li>
							<li><a href="about.html">Контакты</a></li>
							<li><a href="about.html">О нас</a></li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

@if (ViewData["Message"] != null && !string.IsNullOrEmpty(ViewData["Message"].ToString()))
{
	<div class="modal fade in" style="display: block" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="$(this).closest('.modal').remove()">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Информация</h4>
				</div>
				<div class="modal-body">
					<div class="row centered">
						<h4>@ViewData["Message"]</h4>
					</div>
				</div>
				@*<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Save & Go</button>
					</div>*@
			</div>
		</div>
	</div>
}

