@{
    ViewBag.Title = "Покупка металла по всей Украине";
}

<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container main-menu">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">SP<i class="fa fa-circle"></i>T</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="active"><a href="/#prices">Все Цены</a></li>
				<li><a href="/#r">Доставка и Оплата</a></li>
				<li><a href="/#call">Заказать звонок</a></li>
				<li><a href="/#contact">Контакты</a></li>
				<li><a href="/#about">О нас</a></li>
			</ul>
		</div>
	</div>
</div>
<div id="headerwrap">
	<div class="container">
		<div class="row centered">
			<div class="col-lg-8 col-lg-offset-2">
				<h1>Покупка металла
					<br> <span style="text-transform: lowercase">в</span><br>
				<span style="text-transform: initial">Киеве</span> 
					<span style="text-transform: lowercase">и</span> <span style="text-transform: initial">Украине</span> 
				</h1>
			</div>
		</div>
	</div>
</div>

<div class="container w" id="prices">
	<div class="row centered">
		<div class="col-lg-12">
			<h1 class="title">Цены на покупку популярных металлов</h1>			
		</div>

	</div>
	<div class="row centered">
		<br><br>
		<div class="col-lg-4">
			<i class="fa fa-heart"></i>
			<h4 class="upc">Золото</h4>
			<p>Наиболее популярнй вид металла, который скупается в Украине. Данный металл покупаем в виде порошка и лома. Проводим экспертизу качества металла. Данный металл покупаем в виде порошка и лома. Проводим экспертизу качества металла.</p>
		</div>
		<div class="col-lg-4">
			<i class="fa fa-laptop"></i>
			<h4 class="upc">Серебро</h4>
			<p>Покупка серебра в Киеве и Украине. Данный металл покупаем в виде порошка и лома. Проводим экспертизу качества металла. Данный металл покупаем в виде порошка и лома. Проводим экспертизу качества металла.</p>
		</div>
		<div class="col-lg-4">
			<i class="fa fa-trophy"></i>
			<h4 class="upc">Бронза</h4>
			<p>Покупка бронзы в Киеве и Украине. Данный металл покупаем в виде порошка и лома. Проводим экспертизу качества металла. Данный металл покупаем в виде порошка и лома. Проводим экспертизу качества металла.</p>
		</div>
	</div>
	<br>
	<br>
</div>

<div id="dg">
	<div class="container">
		<div class="row">
			<h2 class="title">Какие металлы мы можем купить?</h2>
			<br>
			<div class="col-lg-12">
				<table class="table table-bordered table-striped price-table">
					<tr>
						<th>Навание металла</th>
						<th>Цена/кг</th>
					</tr>
					<tr>
						<td>Золото (порошок)</td>
						<td>50тыс</td>
					</tr>
					<tr>
						<td>Золото (лом)</td>
						<td>45тыс</td>
					</tr>
					<tr>
						<td>Серебро (порошок)</td>
						<td>35тыс</td>
					</tr>
					<tr>
						<td>Серебро (лом)</td>
						<td>30тыс</td>
					</tr>
					<tr>
						<td>Золото (порошок)</td>
						<td>50тыс</td>
					</tr>
					<tr>
						<td>Золото (лом)</td>
						<td>45тыс</td>
					</tr>
					<tr>
						<td>Серебро (порошок)</td>
						<td>35тыс</td>
					</tr>
					<tr>
						<td>Серебро (лом)</td>
						<td>30тыс</td>
					</tr>
					<tr>
						<td>Золото (порошок)</td>
						<td>50тыс</td>
					</tr>
					<tr>
						<td>Золото (лом)</td>
						<td>45тыс</td>
					</tr>
					<tr>
						<td>Серебро (порошок)</td>
						<td>35тыс</td>
					</tr>
					<tr>
						<td>Серебро (лом)</td>
						<td>30тыс</td>
					</tr>
					<tr>
						<td>Золото (порошок)</td>
						<td>50тыс</td>
					</tr>
					<tr>
						<td>Золото (лом)</td>
						<td>45тыс</td>
					</tr>
					<tr>
						<td>Серебро (порошок)</td>
						<td>35тыс</td>
					</tr>
					<tr>
						<td>Серебро (лом)</td>
						<td>30тыс</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>

<div id="r">
	<div class="container">
		<div class="row centered">
			<div class="col-lg-8 col-lg-offset-2">
				<h3>ДОСТАВКА И ОПЛАТА</h3>
				<p>Доставка товаров осуществляется через Новую Почту</p>
				<p>Оплата осуществляется наличными, на карту Приват Банка, по безналичному расчету</p>
			</div>
		</div>
	</div>
	

	
</div>

<div class="lg" id="call">
	<div class="container">
		<div class="row centered">
			<div class="col-lg-8 col-lg-offset-2">
				<h3>Появились вопросы по покупке/продаже металла?</h3>
			</div>
		</div>
		<div class="row centered">
			<div class="col-lg-6 col-lg-offset-3">
			@using (Html.BeginForm("S", "H"))
			{
				@Html.AntiForgeryToken()
				@Html.ValidationSummary(false)

				<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon">+38</div>
						<input type="number" name="tel" required="" placeholder="0ХХ ХХХ ХХ ХХ" class="form-control"/>
					</div>
				</div>
				<textarea name="message" class="form-control" rows="5" placeholder="Напишите ваш вопрос..."></textarea>
				<br/>
				<button type="submit" class="btn btn-lg btn-info pull-right">Отправить</button>
			}

			</div>
		</div>
	</div>
</div>

<div class="container wb" id="contact">
	<div class="row centered">
		<br><br>
		<div class="col-lg-12">
			<h2>Как можно с нами связаться чтобы продать металл?</h2>
		</div>
		<br>
	</div>
	<div class="row">
		<div class="col-lg-4">
			<table class="table">
				<tr>
					<td>Телефон:</td>
					<td><b>050-520-37-06</b></td>
				</tr>
				<tr>
					<td>E-mail:</td>
					<td><b>metall@email.ua</b></td>
				</tr>
				<tr>
					<td>Адрес:</td>
					<td><b>городм Киев, улица Яблочная, дом 56</b></td>
				</tr>
			</table>

		</div>
		<div class="col-lg-8">
			<div id="mapwrap">
				<iframe height="300" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.es/maps?t=m&amp;ie=UTF8&amp;ll=52.752693,22.791016&amp;spn=67.34552,156.972656&amp;z=2&amp;output=embed"></iframe>
			</div>
			<br><br><br><br>
		</div>

	</div>
</div>

<div class="lg" id="about">
	<div class="container">
		<div class="row centered">
			<div class="col-lg-8 col-lg-offset-2">
				<h3>О нас</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<p>Статья о нашей компании Статья о нашей компании Статья о нашей компании Статья о нашей компании Статья о нашей компании Статья о нашей компании Статья о нашей компании Статья о нашей компании Статья о нашей компании </p>
			</div>
		</div>
	
	</div>
</div>

<div id="f">
	<div class="container">
		<div class="row centered">
			
			<div class="navbar navbar-inverse">
				<div class="container main-menu">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-f">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">LOGOTIP</a>
					</div>
					<div class="navbar-collapse collapse navbar-collapse-f">
						<ul class="nav navbar-nav navbar-right">
							<li class="active"><a href="index.html">Все Цены</a></li>
							<li><a href="services.html">Доставка и Оплата</a></li>
							<li><a href="services.html">Заказать звонок</a></li>
							<li><a href="about.html">Контакты</a></li>
							<li><a href="about.html">О нас</a></li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

@if (ViewData["Message"] != null && !string.IsNullOrEmpty(ViewData["Message"].ToString()))
{
	<div class="modal fade in" style="display: block" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="$(this).closest('.modal').remove()">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Информация</h4>
				</div>
				<div class="modal-body">
					<div class="row centered">
						<h4>@ViewData["Message"]</h4>
					</div>
				</div>
				@*<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Save & Go</button>
			</div>*@
			</div>
		</div>
	</div>
}

