<!DOCTYPE html>
<html>
<head>
	<!-- Google Tag Manager -->
	<script>
		(function (w, d, s, l, i) {
			w[l] = w[l] || []; w[l].push({
				'gtm.start':
					new Date().getTime(), event: 'gtm.js'
			}); var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
					'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-TGNFLMK');</script>


	<!-- Global site tag (gtag.js) - Google Ads: 770126063 -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=AW-770126063"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'AW-770126063');
	</script>


	<!-- Event snippet for Клик на емаил conversion page
	In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
	<script>
		function gtag_report_conversion(url) {
			var callback = function () {
				if (typeof (url) != 'undefined') {
					window.location = url;
				}
			};
			gtag('event', 'conversion', {
				'send_to': 'AW-770126063/CEaBCMTY8JMBEO_hnO8C',
				'event_callback': callback
			});
			return false;
		}
	</script>




	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="~/favicon.ico">
	<title>Покупка металла в Киеве и Украине</title>

	<meta name="description" content="Наша компания занимается покупкой металлов, по выгодным для Вас условиям. С нашими клиентами и оптовыми продавцами, у нас особые лояльные и доверительные отношения.">
	<meta name="keywords" content="купить металл, покупка металла">

	<link href="/Content/css/bootstrap.css" rel="stylesheet">
	<link href="/Content/css/font-awesome.min.css" rel="stylesheet">
	<link href="/Content/css/main.min.css" rel="stylesheet">
	<!--[if lt IE 9]>
		<script src="~/Scripts/html5shiv.js"></script>
		<script src="~/Scripts/respond.min.js"></script>
	<![endif]-->

	<script>
		(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date(); a = s.createElement(o),
				m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
		})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-104487079-1', 'auto');
		ga('send', 'pageview');

	</script>





	<script type="text/javascript">
		//var onloadCallback = function () {
		//	grecaptcha.render('html_elementRe', {
		//		'sitekey': '6LdUrW0UAAAAAN-g5OOYRckMzYzjNbrzbe7dkHAF'
		//	});
		//};
		function verifyCallback() {
			if (grecaptcha.getResponse().length !== 0) {
				$('#subbtn').removeAttr("disabled");
			}
		}


		var onloadCallback = function () {
			grecaptcha.render('form111', {
				'sitekey': '6LdUrW0UAAAAAN-g5OOYRckMzYzjNbrzbe7dkHAF',
				'callback': verifyCallback
			});
		};



	</script>




</head>
<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGNFLMK"
						height="0" width="0" style="display:none;visibility:hidden"></iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript) -->
	@RenderBody()


	<script src="~/Scripts/jquery-1.10.2.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>

	<script type="text/javascript"
					src="//www.googleadservices.com/pagead/conversion_async.js">
	</script>

	<script>

		function validateForm(event) {
			var current = $(event.currentTarget).find("textarea");
			var curVal = current.val();
			if (curVal.indexOf("http") >= 0) {
				current.val("");
				current.focus();
				grecaptcha.reset();
				event.preventDefault();

			}


			if (grecaptcha.getResponse().length == 0) {
				event.preventDefault();
				grecaptcha.reset();
			}
		}

		$("body").on("submit", "form", function (event) {
			validateForm(event);
		});
	</script>

</body>





</html>
