<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="~/favicon.ico">
	<title>Покупка металла в Киеве и Украине</title>
	<link href="/Content/css/bootstrap.css" rel="stylesheet">
	<link href="/Content/css/font-awesome.min.css" rel="stylesheet">
	<link href="/Content/css/main.css" rel="stylesheet">
	<!--[if lt IE 9]>
		<script src="~/Scripts/html5shiv.js"></script>
		<script src="~/Scripts/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	@RenderBody()
	<script src="~/Scripts/jquery-1.10.2.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
</body> 





</html>
